* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #00f7ff;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
}
  
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2%;
  width: 30%;
  /* height: 30%; */
  z-index: 2;
}

#form-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#sign-in-up {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1em;
}

#sign-in-up button {
  font-size: 1.3em;
  margin: 0 1em;
  text-transform: uppercase;
  background-color: #ffffff00;
  border: none;
}

#sign-in-up button.active {
  border-bottom: 0.1em solid #7ebcff;
}

#sign-in-up button.inactive {
  color: #cccccc;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

#sign-in-up button:hover {
  cursor: pointer;
}

#form-popup label {
  display: block;
  margin-bottom: 0.9em;
  align-self: flex-start;
}

#nome-sobrenome {
  width: 100%;
  padding: 1em;
  display: none;
  justify-content: space-between;
}

#form-popup input {
  border: 1px solid #ccc;
  padding: 0.7em;
  margin: 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#input-nome, #input-sobrenome {
  width: 47%;
}

#input-nome {
  align-self: flex-start;
}

#input-sobrenome {
  align-self: flex-end;
}

#input-email {
  width: 100%;
}

#email-invalido {
  display: none;
  text-align: end;
  font-size: 0.8em;
  color: red;
}

.popup #btn-entrar-cadastrar {
  width: 30%;
  padding: 0.8em;
  border: none;
  border-radius: 4px;
  margin: 1.5em 0;
  background-color: #56baed;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

#painel {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  background-color: #555;
  position: absolute;
  top: 0;
  left: 0;
}

#paineis-laterais {
  width: 100%;
  height: 90%;
  display: flex;
}

#painel-esquerda, #painel-direita {
  height: 100%;
}

#painel-esquerda {
  width: 15%;
  background-color: #333;
}

#painel-esquerda menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#painel-esquerda menu button {
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}	

#painel-direita {
  width: 35%;
  background-color: #fff;
}

#logo {
  width: 100%;
  height: 10%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-section {
  width: 15%;
  height: 100%;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo #logo-section:hover {
  cursor: pointer;
}

#logo-section > h1 {
  font-size: 2.8em;
  background-image: linear-gradient(#12025a, #ff0080);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

#section-boas-vindas {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
}

#section-boas-vindas > h1 {
  padding-left: 1em;
}

#opcoes-lateral {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#opcoes-lateral #btn-nova-mensagem {
  width: 60%;
  height: 7%;
  border: none;
  border-radius: 5px;
  margin: 15% 0;
  /* margin: 10% 0 15% 0; */
  background-color: #85ff7e;
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
}

#opcoes-lateral #nova-mensagem:hover {
  background-color: #7aff6e;
}

#botoes-lateral {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#botoes-lateral button {
  width: 100%;
  height: 5%;
  border: none;
  background-color: #e2a200;
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7em;
}

.btn-ativo {
  background-color: #e2a200;
  opacity: 0.8;
}

#botoes-lateral button:hover {
  background-color: #d7a31f;
  opacity: 0.9;
}

h1 {
  text-align: center;
}

#painel-enviar-mensagem {
  display: none;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-message {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

#form-message input[type="text"], #form-message input[type="email"], #input-mensagem {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#form-message button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  border-bottom: 0.1em solid #ddd;
  border-right: 0.3em solid #777;
  display: flex;
  justify-content: space-between;
}

table td, table th {
  border:none;
  padding: 8px;
  text-align: left;
}

#table-remetente-assunto {
  width: 70%;
}

#table-data {
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#table-visualizar {
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0.5;
}

.msg-aberta {
  background-color: #ddd;
  font-weight: normal;
  border-right: 0.3em solid #777;
}

table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

table tr:hover #table-visualizar {
  opacity: 1;
}

#table-remetente {
  font-size: 1.2em;
}

#painel-topo-acoes {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#painel-mensagem {
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#painel-baixo {
  width: 100%;
  height: 90%;
  background-color: #800;
}

#head-mensagem {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00d9ff;
}

#mensagem {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #00ff22;
}

#head-mensagem {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff0000;
}

#head-mensagem h1 {
  font-size: 1.4em;
  margin: 0 2%;
}

#head-mensagem > span {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#head-origem-destino {
  margin-left: 2%;
  display: flex;
  align-items: center;
  width: 45%;
  background-color: #0000ff;
}

#mensagem > #head-assunto {
  width: 85%;
  height: 5%;
  margin-top: 5%;
  text-align: left;
}

#mensagem-texto {
  width: 85%;
  height: 80%;
  margin: auto;
  background-color: #00ff00;
  justify-content: left;
  font-size: 1.5em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

